<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<form action="/serverPool/add" method="post">
		<label>
			<input type="text" name="url" placeholder="URL">
		</label>
		<label>
			<input type="text" name="healthCheckTcpTimeout" placeholder="TCP Timeout">
		</label>
		<label>
			<input type="text" name="maximalRequests" placeholder="Max Requests">
		</label>
		<button type="submit">Add</button>
	</form>
</body>
</html>